h1, h2 {
  font-weight: normal;
}

.homeCss ul {
  list-style-type: upper-roman;
  padding: 0;
  margin: 0 auto;
  max-width: 20em;
}

.homeCss li {
  /*display: inline-block;*/
  margin: 0 10px;
  text-align: left; 
}

a {
  color: #42b983;
}

.container {
  margin-left: 2em;
  margin-right: 2em;
  padding: 2em;
  border-left: 1px solid #8e908c;
  border-top: 1px solid #8e908c;
  background-color: #f8f8f8;
  text-align: left;
}

.linkHome{
  clear: both;
  text-align: right;
  margin: 1em;

}

.fieldCss {
  margin-bottom: 2em;
}
.fieldCss input{
  margin-right: 2em;
}