<template>
  <div class="homeCss">
    <h1>{{ msg }}</h1>
    <h2>{{h2}}</h2>
    <ul>
      <li><router-link to="/hello">Hello</router-link></li>
      <li><router-link to="/simple-input">Simple input text</router-link></li>
      <li><router-link to="/select">Select input </router-link></li>
      <li><router-link to="/table-crud">Table CRUD </router-link></li>
      <li><router-link to="/transition-effects">Transition Effects </router-link></li>
      <li><router-link to="/ajax-calls">Ajax calls with axios </router-link></li>
      <li><router-link to="/vuex-examples">Vuex examples </router-link></li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'home',
    data () {
      return {
        msg: 'Esercizi per imparare vue.js',
        h2: 'Cliccare su ogni link per vedere l\'esercizio'
      }
    }
  }
</script>

<style >

</style>
