<template>
	<div class="container">
		
		<fieldset class="fieldCss">
			<legend>Test chiamate ajax</legend>
			<button @click="loadRemoteData">Load</button>
			<pre>
				{{table}}
			</pre>
		</fieldset>
		<div class="linkHome"><router-link to="/">Home</router-link></div>
	</div>
</template>

<script>
	import axios from 'Axios'

	export default {
		methods: {
			loadRemoteData: function () {
				axios.get('http://Simone:3000/json/user.json')
				.then(response => {
					console.log('response', response);
					this.table = response.data;
				})
				.catch(err => {
					console.error('loadRemoteData error', err)
				})
			}	
		},
		data(){
			return {
				table: []
			}
		}	
	}	
</script>

<style>
</style>