<template>
	<div class="container">
		
		<fieldset class="fieldCss">
			<legend></legend>
		</fieldset>
		<div class="linkHome"><router-link to="/">Home</router-link></div>
	</div>
</template>

<script>
	export default {
		/*data(){
			return {
				empty: ''
			}
		}	*/
	}	
</script>

<style>
</style>