<template>
	<div class="containerPopup">
		<span class="chiudi" @click="chiudi" >X</span>
		<h2>{{character.name}}</h2>
		<table class="tabella" cellpadding="0" cellspacing="0">
			<tr>
				<th>Attributo</th>
				<th>Valore</th>
			</tr>
			<tr v-for="(v,k) in character">
				<td>{{k}}</td>
				<td>{{v}}</td>
			</tr>
		</table>
	</div>
</template>

<script>
	export default {
		props: ['character'],
		methods: {
			chiudi: function(){
				this.$emit('chiudi');
			}
		},
		data(){
			return {

			}
		}	
	}	
</script>

<style scoped>
	h2{text-align: center;}
	.containerPopup {
		z-index: 99999;
		position: absolute;
		margin: 0 auto;
		top: 15%;
		left: 30%;
		width: 40%;
		min-height: 60%;
		background-color: white;
		border: 4px solid #8e908c;
		padding: 1em;
	}
	.chiudi {
		float: right;
		font-size: 1.2em;
		color: black;
		cursor: pointer;
		border: 1px solid #8e908c;
		padding: .4em;
	}
</style>