<template>
	<div class="container">
		
		<fieldset class="fieldCss">
			<legend>Simple select</legend>
			<select v-model="selected">
				<option v-for="item in options" v-bind:value="item.id">
					{{ item.text }}
				</option>
			</select>
			<span class="selezione">Selected: {{ selected }}</span>
		</fieldset>

		<fieldset class="fieldCss">
			<legend>Double select</legend>
			
			<select v-model="regioneSelected">
				<option v-for="item in options" v-bind:value="item.id">
					{{ item.text }}
				</option>
			</select>

			<select v-model="provSelected">
				<option v-for="item in getProvince" v-bind:value="item">
					{{ item }}
				</option>
			</select>

			<span class="selezione">Selected: {{ regioneSelected }} -  {{provSelected}}</span>
		</fieldset>


		<div class="linkHome"><router-link to="/">Home</router-link></div>
	</div>
</template>

<script>
	export default {
		computed: {
			selectedRegion : function(){
				var selected = this.regioneSelected;
				//console.log('selected', selected);
				var region = this.options.filter(function(regione){
					return regione.id == selected;
				});
				//console.log('region', region);
				return region[0];
			},
			getProvince : function(){
				this.provSelected = ''; //azzero la provincia
				return this.selectedRegion.provs;
			}
		}, 
		data(){
			return {
				selected: 0,
				regioneSelected: 0,
				provSelected: '',
				options: [
				{id:0,text: 'Scegli una regione', provs: []},
				{id:1,text: 'Lazio', provs: ['Viterbo', 'Roma', 'Rieti', 'Frosinone', 'Latina']},
				{id:2,text: 'Toscana', 
				provs: ['Arezzo', 'Massa e Carrara', 'Lucca', 'Pistoia', 'Prato', 'Pisa', 'Firenze', 'Livorno', 'Siena','Grosseto']},
				{id:3,text: 'Puglia', provs: ['Foggia', 'Barletta', 'Bari', 'Taranto', 'Brindisi', 'Lecce']},
				{id:4,text: 'Liguria', provs: ['Imperia', 'Savona', 'Genova', 'La Spezia']},
				{id:5,text: 'Sicilia', provs: ['Trapani', 'Palermo', 'Messina', 'Enna', 'Catania', 'Agrigento', 'Caltanissetta', 'Ragusa', 'Siragusa']}
				]
			}
		}	
	}	
</script>

<style>
	.selezione {
		display: block;
		margin: 2em;
	}
</style>