<template>
	<div class="container">
		
		<fieldset class="fieldCss">
			<legend>v-bind:</legend>
			<input type="text" :value="esclamazione" id="inp1">
			<label for="inp1" >{{esclamazione}}</label>
		</fieldset>
		
		<fieldset class="fieldCss">
			<legend>v-model:</legend>
			<input type="text" v-model:value="esclamazione2" id="inp2">
			<label for="inp2" >{{esclamazione2}}</label>
		</fieldset>
		
		<fieldset class="fieldCss">
			<legend>methods cambia: -> v-on:evento</legend>
			<input type="text"  id="inp3" @keyup="cambia"> 
			<label for="inp3" >{{esclamazione3}}</label>
		</fieldset>

		<fieldset class="fieldCss">
			<legend>Computed properties</legend>
			<input type="text"  id="inp4" v-model:value="esclamazione4"> 
			<label for="inp4" >{{esclamazione4computed}}</label>
		</fieldset>

		<div class="linkHome"><router-link to="/">Home</router-link></div>
	</div>
</template>

<script>
	export default {
		computed: {
			esclamazione4computed : function(){
				return this.esclamazione4.split('').reverse().join('')
			}
		},
		methods: {
			cambia: function(event){
				this.esclamazione3 = event.target.value
			}
		}, 
		data(){
			return {
				esclamazione: 'A cannone',
				esclamazione2: 'cose svarie',
				esclamazione3: 'Occhio all\'onchange',
				esclamazione4: 'cambiami'
			}
		}	
	}	
</script>

<style>
	.fieldCss {
		margin-bottom: 2em;
	}
	.fieldCss input{
		margin-right: 2em;
	}
</style>