<template>
	<div class="container">
		
		<fieldset class="fieldCss">
			<legend>Tabella CRUD</legend>

			<table class="tabella" cellpadding="0" cellspacing="0">
				<tr >
					<th>Nome</th>
					<th>Razza</th>
					<th>Classe</th>
					<th>Allineamento</th>
					<th>Str</th>
					<th>Dex</th>
					<th>Con</th>
					<th>Int</th>
					<th>Wis</th>
					<th>Cha</th>
					<th>Sex</th>
					<th>Azioni</th>
				</tr>
				<tr v-for="item in rowsInProg">
					<td v-if="item.isUpdating"><input type="text" v-model:value="item.name"></td>
					<td v-else>{{item.name}}</td>
					
					<td v-if="item.isUpdating"><input type="text" v-model:value="item.race"></td>
					<td v-else>{{item.race}}</td>
					
					<td v-if="item.isUpdating"><input type="text" v-model:value="item.class"></td>
					<td v-else>{{item.class}}</td>
					
					<td v-if="item.isUpdating"><input type="text" v-model:value="item.alignment"></td>
					<td v-else>{{item.alignment}}</td>
					
					<td v-if="item.isUpdating"><input type="text" v-model:value="item.str" class="inputSmall"></td>
					<td v-else>{{item.str}}</td>
					
					<td v-if="item.isUpdating"><input type="text" v-model:value="item.dex" class="inputSmall"></td>
					<td v-else>{{item.dex}}</td>
					
					<td v-if="item.isUpdating"><input type="text" v-model:value="item.con" class="inputSmall"></td>
					<td v-else>{{item.con}}</td>
					
					<td v-if="item.isUpdating"><input type="text" v-model:value="item.int" class="inputSmall"></td>
					<td v-else>{{item.int}}</td>
					
					<td v-if="item.isUpdating"><input type="text" v-model:value="item.wis" class="inputSmall"></td>
					<td v-else>{{item.wis}}</td>
					
					<td v-if="item.isUpdating"><input type="text" v-model:value="item.cha" class="inputSmall"></td>
					<td v-else>{{item.cha}}</td>
					
					<td v-if="item.isUpdating"><input type="text" v-model:value="item.sex" class="inputSmall"></td>
					<td v-else>{{item.sex}}</td>

					<td>
						<button @click="visualizza(item)">Dettaglio</button>

						<button v-if="item.isUpdating" @click="modifica(item)">Save</button>
						<button v-else @click="modifica(item)">Update</button>

						<button @click="elimina(item.id)">Delete</button>
					</td>
				</tr>
			</table>

			<Popup :character="charSelected" v-show="showDettaglio" @chiudi="chiudiPopup"></Popup>

		</fieldset>
		<div class="linkHome"><router-link to="/">Home</router-link></div>
	</div>
</template>

<script>
import Popup from '@/components/exercise/Popup'
	export default {
		components : {
			Popup
		},
		created : function(){
			this.rowsInProg = this.rows;
		},
		methods: {
			chiudiPopup: function(){
				this.showDettaglio = false;
				this.charSelected = {};
			},
			visualizza: function(item){
				//console.log('visualizza', item)
				this.charSelected = item;
				this.showDettaglio = true;
			}, 
			modifica: function(item){
				//console.log('modifica - item', item)
				if(item.isUpdating){
					item.isUpdating = false;
					return false;
				}
				//altrimenti
				item.isUpdating = true;
			},
			elimina: function(id){
				if(confirm("Sei sicuro di voler eliminare l'elemento con id = " + id + "?")){
					let index = null;
					for(let i=0; i<this.rowsInProg.length; i++){
						let el = this.rowsInProg[i];
						if(el.id === id){
							index = i;
							//console.log('index', index)
							break;
						}
					}
					if(index != null)
						this.rowsInProg.splice(index, 1);
				}
				//console.log('this.rowsInProg.length', this.rowsInProg.length)
			}
		}, 
		data(){
			return {
				charSelected: {},
				showDettaglio: false,
				rowsInProg : [],
				rows: [
				{id: 1, name:'Cosetta', race: 'Elf', class: 'Ranger', alignment: 'Chaotic good', str: 13, dex: 12, con: 15, int: 17, wis: 11, cha: 17, sex: 'F', isUpdating: false},
				{id: 2, name:'Cosa', race: 'Dragon born', class: 'Rogue', alignment: 'Neutral Evil', str: 13, dex: 12, con: 15, int: 17, wis: 11, cha: 17, sex: 'F', isUpdating: false},
				{id: 3, name:'Cosina', race: 'Elf', class: 'Warlock', alignment: 'Lawful good', str: 12, dex: 15, con: 14, int: 9, wis: 8, cha: 12, sex: 'F', isUpdating: false},
				{id: 4, name:'Emphysema', race: 'Gnome', class: 'Fighter', alignment: 'Lawful Evil', str: 17, dex: 13, con: 14, int: 19, wis: 17, cha: 14, sex: 'M', isUpdating: false},
				{id: 5, name:'Sbra', race: 'Goblin', class: 'Wizard', alignment: 'Lawful neutral', str: 12, dex: 12, con: 18, int: 13, wis: 16, cha: 12, sex: 'M', isUpdating: false},
				{id: 6, name:'Omi', race: 'Human', class: 'Cleric', alignment: 'Chaotic good', str: 16, dex: 17, con: 9, int: 15, wis: 12, cha: 13, sex: 'M', isUpdating: false},
				{id: 7, name:'Chia', race: 'Half-Orc', class: 'Paladin', alignment: 'Chaotic good', str: 14, dex: 13, con: 10, int: 12, wis: 10, cha: 12, sex: 'F', isUpdating: false},
				{id: 8, name:'Sar', race: 'Human', class: 'Bard', alignment: 'True Neutral', str: 17, dex: 11, con: 9, int: 16, wis: 12, cha: 12, sex: 'F', isUpdating: false},
				{id: 9, name:'Sbo', race: 'Orc', class: 'Paladin', alignment: 'Chaotic evil', str: 17, dex: 8, con: 10, int: 13, wis: 11, cha: 14, sex: 'F', isUpdating: false},
				{id: 10, name:'Alimò', race: 'Dwarf', class: 'Cleric', alignment: 'Lawful good', str: 14, dex: 13, con: 13, int: 9, wis: 10, cha: 7, sex: 'M', isUpdating: false}
				]
			}
		}	
	}	
</script>

<style>
	.tabella {
		width: 96%;
		margin: 0 auto;
		border: 1px solid #8e908c;
		text-align: center;
		font-size: 0.8em;
	}
	.tabella td:nth-child(1), th:nth-child(1) {  
		text-align: left;
		font-weight: bold;
	}
	.tabella th{
		color: black;
		font-weight: bold;
		background-color: #99ccff;
	}
	.tabella td, th{
		padding: 0.4em;
	}
	.tabella td{
		border-bottom: 1px solid #99ccff;
		border-right: 1px solid #99ccff;
	}
	.tabella input{
		font-size: 1em;
		margin: 0;
		text-align: center;
	}
	.inputSmall {
		width: 2em;
	}
</style>