<template>
	<div class="container">
		
		<fieldset class="fieldCss">
			<legend>Input v-if</legend>
			<label for="inputCose">Scrivi Cose</label>
			<input type="text" id="inputCose" value="" v-model:value="inputCose">
			<transition name="slide-fade">
				<p v-if="inputCose" class="spanCss">Bravo hai scritto: {{inputCose}}</p>
			</transition>
		</fieldset>

		<fieldset class="fieldCss">
			<legend>Input v-show</legend>
			<button @click="toggle" >Premi!</button>
			<transition name="fade">
				<span v-show="showMe" class="spanCss">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, officiis tenetur quaerat dolores culpa necessitatibus excepturi vitae qui est incidunt esse, velit, officia nihil repudiandae repellendus quidem molestiae dolore tempora!</span>
			</transition>
		</fieldset>

		<p>Bisognerebbe approfondirla con Quasar</p>

		<div class="linkHome"><router-link to="/">Home</router-link></div>
	</div>
</template>

<script>
	export default {
		created: function (){

		},
		methods: {
			toggle: function(event){
				if(this.showMe)
					this.showMe = false;
				else
					this.showMe = true;
			}
		},
		data(){
			return {
				inputCose: '',
				showMe: false
			}
		}	
	}	
</script>

<style>
	.spanCss {
		display: inline;
		margin: 1em;
		border-bottom: 1px solid #99ccff; 
		margin: 1em;
	}

	/* Enter and leave animations can use different */
	/* durations and timing functions.              */
	.slide-fade-enter-active {
		transition: all .3s ease;
	}
	.slide-fade-leave-active {
		transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active for <2.1.8 */ {
		transform: translateX(10px);
		opacity: 0;
	}


	.fade-enter-active, .fade-leave-active {
		transition: opacity .9s
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
		opacity: 0
	}
</style>