<template>
	<div class="containerPopup">
		<span class="chiudi" @click="chiudi" >X</span>
		<h2>Crea un nuovo utente</h2>
		<table class="tabella" cellpadding="0" cellspacing="0">
			<tr>
				<th>Attributo</th>
				<th>Valore</th>
			</tr>
			<tr>
				<td>Id</td>
				<td v-if="showInput"><input type="text" v-model:value="user.id"></td>
				<td v-else>{{character.id}}</td>
			</tr>
			<tr>
				<td>Nome</td>
				<td v-if="showInput"><input type="text" v-model:value="user.nome"></td>
				<td v-else>{{character.nome}}</td>
			</tr>
			<tr>
				<td>twitter</td>
				<td v-if="showInput"><input type="text" v-model:value="user.twitter"></td>
				<td v-else>{{character.twitter}}</td>
			</tr>
			<tr>
				<td>Photo</td>
				<td v-if="showInput"><input type="text" v-model:value="user.photo"></td>
				<td v-else> <img v-bind:src="character.photo" alt=""></td>
			</tr>
			<tr  v-if="showInput">
				<td><button @click="chiudi" class="btn">Chiudi senza salvare</button></td>
				<td><button @click="salva" 	class="btn">Savla</button></td>
			</tr>
		</table>
	</div>
</template>

<script>
	export default {
		props: ['character'],
		computed : {
			showInput: function () {
				return Object.keys(this.character).length === 0 && this.character.constructor === Object;
			}
		},
		methods: {
			chiudi: function(){
				this.$emit('chiudi');
				this.user = {};
			},
			salva: function () {
				this.$emit('salva', this.user);
				this.user = {};
			}
		},
		data(){
			return {
				user: {}
			}
		}	
	}	
</script>

<style scoped>
	h2{text-align: center;}
	.containerPopup {
		z-index: 99999;
		position: absolute;
		margin: 0 auto;
		top: 15%;
		left: 30%;
		width: 40%;
		min-height: 60%;
		background-color: white;
		border: 4px solid #8e908c;
		padding: 1em;
	}
	.chiudi {
		float: right;
		font-size: 1.2em;
		color: black;
		cursor: pointer;
		border: 1px solid #8e908c;
		padding: .4em;
	}
</style>