<template>
	<div class="container">
		
		<fieldset class="fieldCss">
			<legend>Test chiamata allo store - n. utenti: {{countUtenti}}</legend>
			<button @click="loadUtenti" class="btn">Load</button>
			<button @click="addUtente" class="btn">Add</button>
			<table class="tabella" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th>Id</th>
						<th>nome</th>
						<th>Twitter</th>
						<th>Photo</th>
						<th>Action</th>
					</tr>
				</thead>
				<tr v-for="item in utenti">
					<td>{{item.id}}</td>
					<td v-if="idUpdating === item.id"><input type="text" v-model:value="utenteUpd.nome"></td>
					<td v-else>{{item.nome}}</td>
					
					<td><a v-bind:href="item.twitter" target="_blank">{{item.nome}}</a></td>
					<td>
						<img v-if="item.photo" v-bind:src="item.photo" v-bind:alt="item.nome">
						<img v-else src="http://cse.msu.edu/~chooseun/portfolio/img/Logo/Javascript.png" v-bind:alt="item.nome">
					</td>
					<td>
						<button @click="visualizza(item.id)">Dettaglio</button>

						<button v-if="idUpdating === item.id" @click="salvaUtente">Save</button>
						<button v-else @click="modifica(item.id)">Update</button>

						<button @click="elimina(item.id)">Delete</button>
					</td>
				</tr>
			</table>


		</fieldset>
		<Popup :character="utenteUpd" v-show="showDettaglio" @chiudi="chiudiPopup" @salva="creaUtente"></Popup>
		<div class="linkHome"><router-link to="/">Home</router-link></div>
	</div>
</template>

<script>
	import Popup from '@/components/exercise/VuexPopup'
	import { mapGetters, mapActions } from 'vuex'
	export default {
		components : {
			Popup
		},
		computed: mapGetters([
			'countUtenti',
			'utenti',
			'getUtenteById'
			]),
		methods: {
			...mapActions([
				'loadUtenti'
				,'deleteUtente'
				,'updateUtente'
				]),
			chiudiPopup: function(){
				this.showDettaglio = false;
				this.utenteUpd = {};
			},
			visualizza: function(id){
				this.utenteUpd = this.getUtenteById(id)
				this.showDettaglio = true;
			}, 
			modifica: function(id){
				let u = this.getUtenteById(id);
				this.utenteUpd.id = u.id
				this.utenteUpd.nome = u.nome
				this.utenteUpd.twitter = u.twitter
				this.utenteUpd.photo = u.photo
				this.idUpdating = id
			},
			salvaUtente: function(){
				let u = this.utenteUpd;
				this.$store.dispatch('updateUtente',u).then(esito => {
					console.log("esito", esito);
					this.idUpdating = -1;
				}).catch(error => {
					console.log(error);
					alert('Errore nell\'aggiornamento');
				})
			},
			elimina: function(id){
				if(confirm('Sei sicuro di voler eliminare l\'elemento con id: ' + id))
					this.$store.dispatch('deleteUtente',id).then(esito => {
						if(esito.success){
							alert(esito.msg);
						} else {
							alert('MA CHE OHHHHH!!!');
						}
					})
			},
			addUtente: function () {
				this.utenteUpd = {};
				this.idUpdating = -1;
				this.showDettaglio = true;
			},
			creaUtente: function (u) {
				this.$store.dispatch('addUtente', u)
				this.showDettaglio = false;
			}

		},
		data(){
			return {
				showDettaglio: false,
				utenteUpd : {},
				idUpdating : -1
			}
		}
	}	
</script>

<style>
	.tabella {
		width: 96%;
		margin: 0 auto;
		border: 1px solid #8e908c;
		text-align: center;
		font-size: 0.8em;
	}
	.tabella td:nth-child(1), th:nth-child(1) {  
		text-align: left;
		font-weight: bold;
	}
	.tabella th{
		color: black;
		font-weight: bold;
		background-color: #99ccff;
	}
	.tabella td, th{
		padding: 0.4em;
	}
	.tabella td{
		border-bottom: 1px solid #99ccff;
		border-right: 1px solid #99ccff;
	}
	.tabella input{
		font-size: 1em;
		margin: 0;
		text-align: center;
	}
	.inputSmall {
		width: 2em;
	}
	.tabella img{
		width: 36px;
	}


	.btn {
		margin: 0.5em;
		padding: 0.5em;
		background-color: white;
		color: #337ab7;
		border: 1px solid #337ab7;
		border-radius: 5px;
	}
</style>